{% extends 'base.html' %}
{% block basic %}
<section class="d-flex d-xxl-flex align-items-center justify-content-xxl-center align-items-xxl-center vh-100">
       <div class="container">
        <div class="row d-md-flex d-xxl-flex justify-content-md-center justify-content-xxl-center">
            <div class="col-md-4">
                <div class="p-5 rg-rg">
                    <div class="text-center">
                        {% if messages %} 
                        {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                        {% endfor %}
                        {% else %}
                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                        {% endif %}
                    </div>
                    <form class="user" action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3"><input class="form-control form-control-user" type="text" name="username" placeholder="username" required=""></div>
                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" required=""></div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                    </form>
                    <div class="text-center">
                        Dont have an account?
                        <a class="small" href="{% url 'students:register_student' %}">Start Learning</a> or
                    
                        <a class="small" href="{% url 'instructors:register_instructor' %}">Start Teaching</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


   
    

